<h1 class="text-body-secondary" >Angular Data Structure</h1>

<div class="container">
  <button type="button" class="btn btn-outline-primary" routerLink="StudentList">Student List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="EmployeeList">Employee List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="FruitList">Fruit List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CourseList">Course List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="BookList">Book List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CityList">City List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="MovieList">Movie List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CarModelList">Car Model List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ProductList">Product List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="SubjectList">Subject List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CountryList">Country List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="SportsList">Sports List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="VegetableList">Vegetable List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="AnimalList">Animal List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ToolList">Tool List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="LanguageList">Language List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="GameList">Game List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="SoftwareList">Software List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="PhoneContactList">Phone Contact List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="MusicPlaylist">Music Play list</button>
  <button type="button" class="btn btn-outline-primary" routerLink="FoodMenu">Food Menu</button>
  <button type="button" class="btn btn-outline-primary" routerLink="GroceryList">Grocery List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ClassroomList">Classroom List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="InventoryList">Inventory List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="LectureList">Lecture List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="StationeryList">Stationery  List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="FlowerList">Flower List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="DestinationList">Destination List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="LaptopList">Laptop List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="LaptopSpecificationsList">Laptop Specifications List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ComputerHardwareList">Computer Hardware List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="MobileAppList">Mobile App List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="VideoList">Video List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="TVShowList">TV Show List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="FurnitureList">Furniture List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="AccessoryList">Accessory List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="BuildingList">Building List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="PaintingList">Painting List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ArtistList">Artist List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ComposerList">Composer List</button>
  <br><br>
</div>
<router-outlet></router-outlet>

