<h1 class="text-body-secondary" >Angular Data Structure</h1>

<div class="container">
  <button type="button" class="btn btn-outline-primary" routerLink="StudentList">Student List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="EmployeeList">Employee List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="FruitList">Fruit List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CourseList">Course List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="BookList">Book List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CityList">City List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="MovieList">Movie List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="CarModelList">Car Model List</button>
  <button type="button" class="btn btn-outline-primary" routerLink="ProductList">Product List</button>

  <br><br>

</div>

<router-outlet></router-outlet>

