<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="sports-list.component.css">
  <title>Sports List</title>
</head>
<body>
<div class="container">
  <!-- Form to Add New Sport -->
  <h3 class="mt-4">Add a New Sport</h3>
  <form (ngSubmit)="addSport()" class="form-inline mt-3">
    <div class="form-group mb-2">
      <input type="text" [(ngModel)]="newSport.name" name="name" placeholder="Sport Name" class="form-control mr-2" required>
    </div>
    <div class="form-group mb-2">
      <select [(ngModel)]="newSport.type" name="type" class="form-control mr-2" required>
        <option value="" disabled>Select Type</option>
        <option value="Team Sport">Team Sport</option>
        <option value="Individual Sport">Individual Sport</option>
      </select>
    </div>
    <button type="submit" class="btn btn-outline-success">Add Sport</button>
  </form>

  <!-- Table to Display the Sports -->
  <h2 class="mt-4">List of Popular Sports</h2>
  <div class="mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Sport Name</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sport of sports">
        <td>{{ sport.name }}</td>
        <td>{{ sport.type }}</td>
        <td>
          <button class="btn btn-outline-danger" (click)="removeSport(sport.name)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
