<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="exercise-list.component.css">
  <title>Exercise List</title>
</head>
<body>
<div class="container">
  <!-- Form to Add New Exercise -->
  <h3 class="mt-4">Add New Exercise</h3>
  <form (ngSubmit)="addExercise()" class="form-inline mt-3">
    <div class="form-group mb-2">
      <input type="text" [(ngModel)]="newExercise.name" name="name" placeholder="Exercise Name" class="form-control mr-2" required>
    </div>
    <div class="form-group mb-2">
      <input type="text" [(ngModel)]="newExercise.type" name="type" placeholder="Exercise Type (e.g., Cardio, Strength)" class="form-control mr-2" required>
    </div>
    <div class="form-group mb-2">
      <input type="text" [(ngModel)]="newExercise.duration" name="duration" placeholder="Duration (e.g., 30 mins)" class="form-control mr-2">
    </div>
    <div class="form-group mb-2">
      <input type="number" [(ngModel)]="newExercise.sets" name="sets" placeholder="Sets" class="form-control mr-2" required>
    </div>
    <div class="form-group mb-2">
      <input type="number" [(ngModel)]="newExercise.reps" name="reps" placeholder="Reps per Set" class="form-control mr-2" required>
    </div>
    <button type="submit" class="btn btn-outline-success">Add Exercise</button>
  </form>
  <h2 class="mt-4">Workout Routine</h2>
  <!-- Table to Display the Exercise List -->
  <div class="mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Duration</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exercise of exerciseList">
        <td>{{ exercise.name }}</td>
        <td>{{ exercise.type }}</td>
        <td>{{ exercise.duration }}</td>
        <td>{{ exercise.sets }}</td>
        <td>{{ exercise.reps }}</td>
        <td>
          <button class="btn btn-outline-danger" (click)="removeExercise(exercise.name)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
