<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="student-list.component.css">
  <title>Student List</title>
</head>
<body>
<!-- STUDENT FORM-->
<h3 class="text-body-secondary" >Student List</h3>
<form (ngSubmit)="addStudent()">
  <div class="input-group">
    <span class="input-group-text">Student Name:</span>
    <input type="text" aria-label="First name" class="form-control" [(ngModel)]="newStudent.name" name="name" required >
    <span class="input-group-text">Student Course:</span>
    <input type="text" aria-label="Last name" class="form-control" [(ngModel)]="newStudent.course" name="course" required>
    <button type="submit" class="btn btn-outline-success">Add Student</button>
  </div>
</form>

<!--TABLE STUDENT LIST-->
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Course</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.course }}</td>
    <td>
      <button  class="btn btn-outline-danger" (click)="removeStudent(student.id)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
